# Godot
.godot/
.import/
export.cfg
export_credentials.cfg
*.translation
.nomedia

# Mono / C#
.mono/
*.csproj
*.sln
*.user
*.userprefs
*.dll
*.exe
*.pdb
*.mdb
mono_crash.*.json
data_*/

# VSCode / IDE
.vscode/
.idea/
*.swp
*.tmp
